html{
    background-color:aliceblue;
    font-size: 1.1em;
}

.wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.heading{
    font-size: 3rem;
    line-height: 0.75;
    letter-spacing: -1.5px;
}

.copy{
    font-size: 1rem;
    line-height: 40px;
    word-spacing: 14px;
}

.helper-text{
    font-size: 0.8rem;
}